
        body {
            margin: 0;
            padding: 0;
            font-size: 1vw;
            font-family: 'Lato', sans-serif;
            width: 100vw;
            background-color: #071418;
        }

        .container {
            width: 100%;
            display: flex;

        }

        .container_left {
            width: 20%;
            background-color: #071418;
        }

        .container_right {
            width: 80%;
            height: 100vh;
        }

        .header {
            width: 100%;
            height: 4.8vw;
            background-color: #D8D8D8;
            display: flex;
        }
        #icon_bars{
            font-size: 3vw;
            padding-left: 1.3vw;
            padding-top: 1vw;
        }
        .log_out{
            color: darkred;
            padding-left: 65vw;
            padding-top: 1vw;
            display: block;
            width: 90%;
            text-align: center;
        }
        #label_logout{
            display: block;
            color: darkred;
        }
        #logout{
            display: block;
            padding: 0.5vw;
        }
        .show_content{
            height: 85vh;
            background-image: url('../../images/background/rolex.jpg');   
        }
        
        
        .title{
            width: 100%;
            height: 2.4vw;
            color: white;
            margin-left: 1vw;
            margin-top: 2.4vw;
            font-size: 1.3vw;
            border-bottom: solid 0.1vh darkgrey;
        }
        #icon_watch{
            width: 10%;
            
        }
        #name_page{
            width: 50%;
        }
        .welcome{
            color: white;
            margin-left: 1vw;
            margin-top: 1vh;
        }
        #welcome_admin{
            font-size: 1vw;
            font-style: oblique;
        }
        #name_admin{
            font-size: 1.1vw;
            color: darkorange;
        }
        .general{
            color: white;
            margin-left: 1vw;
            margin-top: 7vh;
        }
        .dropdown_home,.dropdown_manager{
            display: flex;
            margin-top: 2vh;
        }
        .dropdown_manager{
            margin-top: 1vh;
        }
        #lable_home{
            margin-left: 1vw;
            margin-right: 11vw;
        }
        #lable_manager{
            margin-left: 1vw;
            margin-right: 7.7vw;
        }
        #lable_select{
            color: black;
        }
        #a_select{
            display: block;
            text-decoration: none;
            padding: 0.5vw;
            border-top: solid 0.1vw darkgray;
            color: white;
            margin-bottom: 0.1vw;
        }
        .dropdown {
            position: relative;
            display: inline-block;
            
          }
          
          .dropdown-content {
            display: none;
            position: static;
            background-color: black;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
            width: 15vw;
          }
          
          .dropdown:hover .dropdown-content {
            display: block;
          }


          /* add_employee */
          .add_employee{
            height: 85vh;
            background-color: white;
            font-size: 1vw;
          }
          #label_manager_employee{
             color: black;
             border-bottom: solid 0.1vw darkgray;
             display: block;
             padding: 1vw;
             font-size: 2vw;
             font-weight: bold;
             
          }
          .tools_employee{
              display: flex;
              border-bottom: solid 0.1vw darkgray;
              padding:0 0 1vw 2vw;
          }
          #a_manager_employee{
              text-decoration: none;
              padding: 0 0.5vw;
          }
          #label_add_employee{
            border-bottom: solid 0.1vw darkgray;
            display: block;
              padding: 1vw 0 1vw 1vw;
              font-size: 1.3vw;
          }
           /* add_product */
           .add_product{
            height: 84vh;
            background-color: white;
            font-size: 1vw;
          }
          #label_manager_product{
             color: black;
             border-bottom: solid 0.1vw darkgray;
             display: block;
             padding: 1vw;
             font-size: 2vw;
             font-weight: bold;
             
          }
          .tools_product{
              display: flex;
              border-bottom: solid 0.1vw darkgray;
              padding:0 0 1vw 2vw;
          }
          #a_manager_product{
              text-decoration: none;
              padding: 0 0.5vw;
          }
          #label_add_product{
            border-bottom: solid 0.1vw darkgray;
            display: block;
              padding: 1vw 0 1vw 1vw;
              font-size: 1.3vw;
          }


        table{
            margin: auto;
            margin-top: 6vh;
            border-collapse: collapse;
        }
        tr,td{
            border: solid 0.1vw black;
            text-align: center;
            
        }
        #td_left{
            width: 8vw;
            height: 2vw;
            padding: 0.2vh;
        }
          #td_right{
            width: 25vw;
            height: 2vw;
            padding: 0.2vh;
            display: flex;
            border: none;
        }
        input{
            text-align: center;
            width: 23vw;
            border: none;
          }
          select{
            width: 10vw;
            margin-left: 7.5vw;  
            margin-right: 5.5vw;  
            font-size: 1vw; 
            padding-left: 3vw;  
          }
          #button_add{
            border: solid 0.1vw black;
            width: 10vw;
            margin-left: 7.5vw ;
            border-radius: 5vw;
            box-shadow: cadetblue 0.1vw 0.1vw;
            font-size: 1vw;
          }
          #button_add:hover{
              cursor: pointer;
              color: white;
              font-weight: bold;
              background-color: darkorange;
          }
          input:focus,select:focus{
            outline: none;
          }
        #icon_status{
            width: 2vw;
            margin-top: 0.5vw;
            
        }
        #lable_confirm{
            margin-left: 36vw;
            color: red;
        }
        #lable_notification{
            margin-left: 30vw;
            color: red;
        }
    